# EditorConfig - φ² + 1/φ² = 3
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.zig]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.vibee]
indent_size = 2

[*.tri]
indent_size = 2

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2
