# VIBEE specification files - highlight as YAML
*.vibee linguist-language=YAML

# Zig files
*.zig linguist-language=Zig

# Gleam files
*.gleam linguist-language=Gleam

# Erlang FFI
*.erl linguist-language=Erlang
